{% extends 'base.html.twig' %}

{% block title %} Авторы {% endblock %}

{% block content %}

    <div class="column middle">
        <table class="table table-dark table-bordered">
            <tr>
                <th>№</th>
                <th>Имя Автора</th>
                <th>Годы жизни</th>
            </tr>
            {% for author in authors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('app_author_authorpage', {'id' : author.id}) }}">{{ author.surname }} {{ author.name }} {{ author.middlename }}</a>
                    </td>
                    <td>{{ author.birthday|date('d-m-Y') }} - {{ author.deathday|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <form action="{{ path('app_author_create') }}" method="post">
                <input class="btn btn-primary" type="submit" name="createAuthor" value="Добавить автора">
            </form>
        </div>
    </div>

{% endblock %}