{% extends 'base.html.twig' %}

{% block title %} {{ author.surname }} {% endblock %}

{% block content %}

    <div class="column middle">

        <div>
            <div class="font-weight-bold">
                <div class="authorName">
                    {{ author.surname }} {{ author.name }} {{ author.middlename }}
                </div>
                <div>
                    {{ author.birthday|date('d-m-Y') }}
                    — {% if author.deathday == null %} живет {% endif %} {{ author.deathday|date('d-m-Y') }}

                </div>
            </div>

            <div>
                <div class="font-weight-bold">
                    Информация об авторе:
                </div>
                <div>
                    {{ author.content }}
                </div>
            </div>

        </div>


        <table class="table table-dark table-bordered">
            <tr>
                <th>№</th>
                <th>Название книги</th>
                <th>Год написания</th>
                <th>Удаление</th>
            </tr>
            {% for book in author.books %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('app_book_editbook', {'author': author.id, 'book': book.id }) }}">{{ book.name }}</a>
                    </td>
                    <td>{{ book.date }}</td>
                    <td><a href="{{ path('app_book_deletebook', {'id': book.id}) }}">Удалить</a></td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{{ path('app_author_edit', {'id': author.id}) }}">
                <button class="btn btn-primary">Изменить</button>
            </a></div>
        <div>
            <a href="{{ path('app_author_delete', {'id': author.id}) }}">
                <button>Удалить автора</button>
            </a>
        </div>
        <div class="btn3">
            <a href="{{ path('app_book_createbook', {'id': author.id}) }}">
                <button>Добавить книгу</button>
            </a>
        </div>
    </div>
{% endblock %}