{% extends 'base.html.twig' %}

{% block title %} Добавить автора {% endblock %}

{% block body %}
    {# <div> #}
    {# {{ message }} #}
    {# </div> #}
    <div class="body">
        <form class="authorForm" action="" method="POST">
            <p class="form-header form-group"><b>Новый автор</b></p>
            <div class="form-group">
                <label>Фамилия автора: </label>
                <input type="text" class="form-control" name="surname" placeholder="Фамилия"
                       value="{{ author.surname|default('') }}">
            </div>
            <div class="form-group">
                <label>Имя автора: </label>
                <input type="text" class="form-control" name="name" placeholder="Имя"
                       value="{{ author.name|default('') }}">
            </div>
            <div class="form-group">
                <label>Отчество автора: </label>
                <input type="text" class="form-control" name="middlename" placeholder="Отчество"
                       value="{{ author.middlename|default('') }}">
            </div>
            <div class="form-group">
                <label>Дата рождения: </label>
                <input type="date" class="form-control" name="birthday" value="{{ author.birthday|default('') }}">
            </div>
            <div class="form-group">
                <label>Дата смерти: </label>
                <input type="date" class="form-control" name="deathday" value="{{ author.deathday|default('') }}">
            </div>
            <div class="form-group">
                <label>Информация об авторе: </label>
                <textarea class="form-control" name="content"
                          placeholder="Информация">{{ author.content|default('') }}</textarea>
            </div>
            <div class="btn1 form-group">
                <input class="btn btn-primary" type="submit" name="submit" value="Сохранить">
            </div>
            <div class="btn2 form-group">
                <a href="http://local.library/authors">
                    <button type="button" class="btn btn-danger">Отменить</button>
                </a>
            </div>
        </form>
    </div>



{% endblock %}