{% extends 'base.html.twig' %}

{% block title %} Изменить книгу {% endblock %}
{% block content %}
    {# <div> #}
    {# {{ message }} #}
    {# </div> #}

    <div class="column middle">
        <form id="editBookForm">
            <p><b>Изменение книги</b></p>
            <div>
                <label>Название книги: </label>
                <input type="text" name="name" placeholder="Название" value="{{ book.name|default('') }}">
            </div>
            <div>
                <label>Дата написания: </label>
                <input type="number" name="date" placeholder="Дата" value="{{ book.date|default('') }}">
            </div>
            <div>
                <input id="saveButton" type="button" name="saveButton" value="Сохранить">
            </div>
        </form>
        <div>
            <a href="{{ path('app_author_authorpage', {'id' : author.id}) }}">
                <button>Отменить</button>
            </a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script class="javascript">

        let $saveBookButton = $("#saveButton");

        $saveBookButton.on('click', function () {
            let $data = $("#editBookForm").serialize();
            $.post('{{ path('app_book_editbook', {'author': author.id, 'book': book.id }) }}', $data, function (response) {
                if (response.success === false) {
                    alert(response.message);
                } else if (response.success === true) {
                    window.location.href = "{{ path('app_author_authorpage', {'id' : author.id}) }}";
                }
            }, 'json');
        });

    </script>

{% endblock %}