<!DOCTYPE html>
<html lang="en-RU">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}КНИГОТЕКА{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}
    <header class="navbar">
{#        <div class="container">#}
{#            <div class="row">#}
                <div class="navbar-brand mr-0 mr-md-2">
                    <a class="nav-link header" href="{{ path('app_book_books') }}">
                    <span>
                        КНИГОТЕКА
                    </span>
                    </a>
                </div>
                <div class="navbar-nav-scroll">
                    <ul class="nav justify-content-center">

                        <li class="nav-item">
                            <a class="nav-link header" href="{{ path('app_author_authors') }}">Авторы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="{{ path('app_book_allbooks') }}">Книги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="{{ path('app_main_news') }}">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header" href="{{ path('app_main_about') }}">О Книготеке</a>
                        </li>
                    </ul>
                </div>

                <div class="d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                    <a class="header-login" href="{{ path('app_login') }}">Войти/Регистрация</a>
                </div>


{#            </div>#}


{#        </div>#}
    </header>






{% endblock %}

{% block body %}{% endblock %}
{# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> #}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
